{% extends 'core_list.html' %}

{% block row %}
    <td> {{ row.book.name }} </td>
    <td> {{ row.publishing_year }} </td>
    <td> {{ row.publishing_house }} </td>
    <td> {{ row.storage.code }} </td>
{% endblock %}