<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ head_title }}</title>
    <link rel="stylesheet" href="/static/table_style.css" type="text/css"/>
    <script type="text/javascript" src="table_script.js"></script>
    <style>

    </style>
</head>
<body onload="on_body_load();">
    {% block list_header %}
        <h3>
            {{ list_header }}
        </h3>
    {% endblock %}
    <div id="{{ data_block_id }}">
        Пожалуйста подождите, идёт получение данных.
    </div>
</body>
</html>